<h2>New video</h2>

<form action="/videos" method="post">

  <p>
  <label for="">Title</label>
  <input type="text" name="title">
  </p>

  <p>
    <label for="">Description</label>
    <textarea name="description" id="" cols="30" rows="10"></textarea>
  </p>

  <p>
    <label for="">URL</label>
    <input type="text" name="url">
  </p>

  <p>
    <label for="">Genre</label>
    <input type="text" name="genre">
  </p>

  <button>Create</button>

</form>