<div id="subPage">
  <h2>ABOUT ME</h2>

  <hr />

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, itaque minima quidem nobis quisquam veniam, quasi quia rerum praesentium nam sed. Maiores reprehenderit, ad possimus quis quod repellat fugiat temporibus?
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore qui, cumque placeat repellendus maiores aspernatur facere sunt reiciendis mollitia cupiditate. Nulla consequatur eligendi incidunt veritatis, similique minus alias, voluptates nemo.
  </p>
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, itaque minima quidem nobis quisquam veniam, quasi quia rerum praesentium nam sed. Maiores reprehenderit, ad possimus quis quod repellat fugiat temporibus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore qui, cumque placeat repellendus maiores aspernatur facere sunt reiciendis mollitia cupiditate. Nulla consequatur eligendi incidunt veritatis, similique minus alias, voluptates nemo.
  </p>
</div>

<button id="next_button"><a href="/contact">&#10095;</a></button>
<button id="prev_button"><a href="/">&#10094;</a></button>
