<div id="subPage">
  <h2>THANK YOU</h2>

  <hr />
    <p>
      Hi <%= name %>,
    </p>
    <p>
      Someone will contact you within 24 hours.
    </p>
    <p>
      Regards,
    </p>
    <p>
      The Team.
    </p>

</div>

<button id="prev_button"><a href="/contact">&#10094;</a></button>
