/*LAYOUT PAGE=================================*/

html, body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 auto;
  background: url("/images/index_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

#nav {
  margin: 0;
  background-color: rgba(0,0,0,0.7);
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

li {
  padding-right: 40px;
  display: inline;
  color: #33CCCC;
}

a {
  text-decoration: none;
  color: #33CCCC;
}

a:visited {
  color: #33CCCC;
}

/*INDEX PAGE=================================*/

#next_button {
  font-size: 40px;
  color: white;
  border-radius: 3px;
  background-color: black;
  width: 50px;
  height: 50px;
  line-height: 0px;
  text-align: center;
  opacity: 0.8;
  position: fixed;
  right: 0;
  margin-right: 10px;
  top: 45%;
  border: none;
}

#indexTitle {
  font-size: 60px;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  width: 360px;
  margin: 0 auto;
  margin-top: 15%;
  color: white;
  border: solid 2px white;
}

#indexP {
  color: white;
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  color: #33CCCC;
  text-shadow: 3px 1px black;
  font-size: 24px;
  margin: 0 auto;
  margin-top: 20px;
}

/*ABOUT PAGE=================================*/

#subPage {
  top: 50px;
  bottom: 100px;
  width: 80%;
  background-color: rgba(255,255,255, 0.9);
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 80px;
  margin-top: 20px;
}

p {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

h2 {
  text-align: center;
  font-size: 36px;
}

hr {
  width: 72px;
  margin-bottom: 50px;
}

/*CONTACT PAGE=================================*/

input, textarea {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  border: 0px solid;
  border-bottom: solid 2px black;
  background-color: transparent;
  width: 350px;
  margin: 0 auto;
}

input:focus, textarea:focus { 
    border-bottom: solid 2px #33CCCC;
    outline: none
}

form {
  text-align: center;
}

#submit {
  border: none;
  border-bottom: solid 2px #33CCCC;
  background: none;
  margin-top: 30px;
  font-size: 16px;
  /*color: #33CCCC;*/
  width: 100px;
  height: 30px;
  font-weight: bolder;
}

#submit:hover {
  background-color: #33CCCC;
  border-top: solid 3px #33CCCC;
}

#prev_button {
  font-size: 40px;
  color: white;
  border-radius: 3px;
  background-color: black;
  width: 50px;
  height: 50px;
  line-height: 0px;
  text-align: center;
  opacity: 0.8;
  position: fixed;
  left: 0;
  margin-left: 10px;
  top: 45%;
  border: none;
}










