body {
  font-family: Arial;
  font-size: 12px;
  margin: 0 auto;
}

img {
  max-width: 40%;
}

#logo {
  text-align: center;
}

li {
  display: inline;
}

header {
  position: absolute;
  right: 0;
  top: 0;
}

ul>li {
  padding-left: 20px;
}

#signIn {
  background-color: #6495ED;
  border: solid 1px #4169E1;
  text-align: center;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-weight: bold;
  border-radius: 2px;
}

.mainSection {
  margin-top: 15%;
}

.form {
  text-align: center;
}

input {
  width: 50%;
  border: solid 1px #D3D3D3;
  margin-bottom: 5px;
  height: 2em;
}

button {
  border: solid 1px #D3D3D3;
  background-color: #F5F5F5;
  border-radius: 2px;
  height: 2.5em;
  font-weight: bold;
}

footer {
  bottom: 0;
  position: absolute;
  display: inline;
  border-top: solid 1px #D3D3D3;
  background-color: #F5F5F5;
  display: table;
  width: 100%;
}

.leftNav {
  display: inline-block;
  display: table-cell;
  text-align: left;
}

.rightNav {
  display: inline-block;
  display: table-cell;
  text-align: right;
  padding-right: 30px;
}