<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OMDB</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<header>
  <h1>OMDB</h1>

    <form action="/">
      <button><img src="images/search.png"></img></button>
      <input type="text" name="search_string" placeholder="BROWSE">
    </form>
</header>

<body>

  <%= yield %>

</body>

